body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  width: 100%;
  min-height: 100px;
  height: 150px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: fixed;
  border: 3px solid #828483;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #242424;
  .navBtns {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

main {
  width: 95%;
  min-width: 320px;
  margin: 0;
  margin-top: 170px;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .homeText {
    width: 70%;
    p {
      margin-block: 10px;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  .post {
    background-color: #eaf2ee29;
    border: 5px solid #d2508f2a;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 4fr;
    justify-items: center;
    align-items: start;
    gap: 10px;
    overflow-y: auto;
    img {
      height: auto;
      width: 95%;
      border: 3px solid #dfcc6f50;
      border-radius: 40px;
      align-self: center;
      margin: 10px;
    }
    .titleAndDateContainer {
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }
    p {
      align-self: top;
    }
  }
}

div.post::-webkit-scrollbar-track {
  background: rgba(223, 204, 111, 0);
  max-height: 10px;
}
div.post::-webkit-scrollbar-thumb {
  background: #dfcc6f50;
  border-radius: 10px;
}

div.post::-webkit-scrollbar-corner {
  background: rgba(223, 204, 111, 0);
  max-height: 10px;
}
div.post::-webkit-scrollbar {
  width: 8px;
}
