a {
  font-weight: 500;
  color: #dfcc6f;
  text-decoration: inherit;
}
a:hover {
  color: #d2508f;
}

h1,
h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  padding: 0;
  margin-inline: 0;
  margin-block: 5px;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.2rem;
}

.titleAndDateContainer {
  .headline {
    font-size: 3rem;
    margin: 0;
    color: black;
    text-shadow: 1px 1px #d2508f, -1px -1px #dfcc6f;
  }
  .date {
    font-style: italic;
    color: #828483;
  }
}

.imgtext {
  margin: 0px 45px 20px 45px;
}

footer {
  p {
    font-size: 0.8rem;
  }
}
